<div class="location">
    <input type="text" placeholder="Location" [(ngModel)]="location" (blur)="getWeather()">
  </div>
  <div class="temperature">
    {{ weather.current.temp_c | number:'1.0-0' }}&deg;C
    <img src={{weather.current.condition.icon}} alt={{weather.current.condition.text}} class="weather-icon">

  </div>
  <div class="secondary">
    <div class="wind"><span>Wind:</span> {{ weather.current.wind_kph }} km/h</div>
    <div class="humidity"><span>Humidity:</span> {{ weather.current.humidity }} %</div>
    <div class="precipitation"><span>Precipitation:</span> {{ weather.current.precip_mm }} mm</div>
</div>

